@media only screen and (max-width: 320px) {
  .error {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d03939;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 300px;
    height:600px;
    border-radius: 50px;
    padding: 20px;
    background: #1f0f24;
    text-align: center;
    color: #fff;
  }

  .wrapper h1 {
    margin-top: 50px;
  }

  .wrapper p {
    margin-top: 20px;
  }

  .wrapper input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background: transparent;
    border: 0;
    color: #fcfcfc;
    font-size: 14px;
    padding: 5px 8px;
    outline: none;
    text-align: center;
  }

  .wrapper input:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-color: #6e2d7d;
  }

  .wrapper button:disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #746027;
    cursor: not-allowed;
  }

  .wrapper button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3bc4b;
    color: #fff;
    border-radius: 10px;
    border: 2px, solid, #b99935;
    padding: 10px 15px;
    margin-left: 20px;
    transition: transform 500ms ease;
  }

  .wrapper button:hover {
    transform: scale(1.1) translateY(-2px);
  }
}
